body{
  background-image: "https://th.bing.com/th/id/R.1b886285691b1e4f52939cb1abd28e14?rik=afoXYYUiRVaMOg&pid=ImgRaw&r=0("
}
body {
  max-width: 800px;
  margin: 0 auto;
}

.sender-column {
  text-align: right;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.3em;
}

p,ul,ol,dl,address {
  font-size: 1.1em;
}

p, li, dd, dt, address {
  line-height: 1.5;
}


 